.card {
    cursor: pointer;

    .card-img-top {
        height: 300px;
    }

    button {
        background: $color-primario !important;
    }

    &:hover {
        transform: scale(1.02);
    }
}

.card-home {
    min-height: 570px;
}